@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contact Book</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="bg-light font-montserrat text-dark flex flex-col h-screen justify-between">
    <header class="mb-5">
        <div class="sm:hidden bg-dark flex py-2">
            <div class="container">
                <partial name="_LoginPartial" />
            </div>
        </div>
        <nav class="flex items-center py-4 justify-between container">
            <div class="flex gap-4 items-center">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Contact Book" width="200">
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                <div class="hidden md:block">
                    <a asp-controller="Categories" asp-action="Index" title="Categories">
                        <img src="~/images/categories-icon.svg" alt="Categories" class="w-8 h-8 hover:scale-125 transition-transform">
                    </a>
                </div>
                <div class="hidden md:block">
                        <a asp-controller="Contacts" asp-action="Index" title="Contacts">
                            <img src="~/images/contacts-icon.svg" alt="Contacts" class="w-8 h-8 hover:scale-125 transition-transform">
                    </a>
                </div>
                }
                </div>

                <div class="hidden sm:block">
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </header>

        <div class="flex gap-10 grow container">
        @if (SignInManager.IsSignedIn(User))
        {
           <partial name="_SidebarPartial" />
        }
            <main class="w-full">
            @RenderBody()
            </main>
        </div>

        <footer class="mb-24 md:mb-0 text-gray-500 container">
            <div>
                &copy; 2023 - Contact Book
            </div>
        </footer>
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>
