@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

<ul class="navbar-nav d-flex align-items-center gap-3">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="~/images/settings-icon.png" alt="Settings" width="40"></a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn btn-sm btn-dark">Sign Out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-sm btn-primary" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
    </li>
}
</ul>
