@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

<div class="flex w-full items-center justify-end gap-4 text-xs sm:text-sm">
@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Settings" class="hidden md:block hover:animate-spin">
        <img src="~/images/settings-icon.svg" alt="Settings" class="w-8 h-8">
    </a>

    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="sm:btn-dark text-light">Sign Out</button>
    </form>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Register" class="sm:btn-dark text-light">Register</a>
    <a asp-area="Identity" asp-page="/Account/Login" class="sm:btn-primary text-light">Sign In</a>
}
</div>
