@model ContactBook.Models.CustomError

<div class="d-flex flex-column justify-content-center">
    <div class="row row-cols-1">
        <div class="col text-center">
            <img src="./img/oops.png" alt="Page not found" class="img-fluid" />
        </div>
        <div class="col text-center display-5 my-3 fw-bold">@Model.Code</div>
        <div class="col text-center h4">
            @Model.Message
        </div>
        <div class="col text-center mt-3">
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-lg rounded-pill"
            >Go To Homepage</a>
        </div>
    </div>
</div>