@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "text-red-600" : "text-green-700";
    <div class="@statusMessageClass mb-5 font-semibold text-sm" role="alert">
        @Model
    </div>
}
