@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h2 class="uppercase font-bold text-dark mb-5">@ViewData["Title"]</h2>
<hr class="mb-5" />

<div class="flex gap-2 border border-red-600 px-3 py-2 mb-5" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-red-600">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
    </svg>
    <p><strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong></p>
</div>

<form id="delete-user" method="post" class="space-y-4">
    <div asp-validation-summary="ModelOnly" class="text-red-600 italic text-xs"></div>
    @if (Model.RequirePassword)
    {
        <div class="flex flex-col gap-2">
            <label asp-for="Input.Password" class="uppercase text-dark font-bold text-sm"></label>
            <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="text-red-600 italic text-xs"></span>
        </div>
    }
    <div>
        <button class="btn-danger w-full sm:w-fit" type="submit">Delete Data and Close My Account</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
