@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable Two-Factor Authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2 class="uppercase font-bold text-dark mb-5">@ViewData["Title"]</h2>
<hr class="mb-5" />

<div class="space-y-4 mb-5" role="alert">
    <div class="flex gap-2 border border-red-600 px-3 py-2 mb-5" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-red-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
        </svg>
        <p><strong>This action only disables 2FA.</strong></p>
    </div>
    <p>
        Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should <a asp-page="./ResetAuthenticator" class="text-primary hover:underline font-bold">reset your authenticator keys</a>.
    </p>
</div>

<form method="post">
    <button class="btn-danger w-full sm:w-fit" type="submit">Disable 2FA</button>
</form>
