@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h2 class="uppercase font-bold text-dark mb-5">@ViewData["Title"]</h2>
<hr class="mb-5" />
<form id="email-form" method="post" class="space-y-4">
    <div asp-validation-summary="All" class="text-red-600 italic text-xs"></div>
    @if (Model.IsEmailConfirmed)
    {
        <div class="flex flex-col gap-2 relative">
            <label asp-for="Email" class="uppercase text-dark font-bold text-sm"></label>
            <input asp-for="Email" disabled />
            <div class="absolute right-2 bottom-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-green-600">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
        </div>
    }
    else
    {
        <div class="flex flex-col gap-2">
            <label asp-for="Email" class="uppercase text-dark font-bold text-sm"></label>
            <input asp-for="Email" disabled />
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn-primary">Send Verification Email</button>
        </div>
    }
    <div class="flex flex-col gap-2">
        <label asp-for="Input.NewEmail" class="uppercase text-dark font-bold text-sm"></label>
        <input asp-for="Input.NewEmail" autocomplete="email" aria-required="true" />
        <span asp-validation-for="Input.NewEmail" class="text-red-600 italic text-xs"></span>
    </div>
    <div class="flex flex-col sm:flex-row justify-end sm:items-center flex-wrap">
        <span class="flex-grow"><partial name="_StatusMessage" for="StatusMessage" /></span>
        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-full sm:w-fit btn-primary">Change Email</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
