@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h2 class="uppercase font-bold text-dark mb-5">@ViewData["Title"]</h2>
<hr class="mb-5" />

<div class="space-y-4 text-dark">
    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <div class="flex items-center gap-2 flex-wrap">
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn-primary" type="submit">Download</button>
        </form>
        <a id="delete" asp-page="DeletePersonalData" class="btn-danger">Delete</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
