@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<section class="grid grid-cols-2 gap-5">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await SignInManager.UserManager.GetUserAsync(User);

        <div class="col-span-2">
            <h1 class="font-bold mb-3 text-2xl">Welcome @user.FullName!</h1>
        </div>
    } else {
    <div class="flex flex-col justify-center col-span-2 md:col-span-1">
        <h1 class="font-bold mb-3 text-4xl">Manage all your contacts in one place</h1>
        <h2 class="font-semibold mb-4 text-xl">Your digital address book</h2>
        <div class="flex gap-2">
            <a href="#" class="btn-dark text-lg">Try Demo</a>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn-primary text-lg">Sign Up</a>
        </div>
    </div>

    <div class="col-span-2 md:col-span-1 flex items-end justify-center">
        <img src="~/images/girl-managing-contacts.png" alt="Girl managing her contacts">
    </div>
    }
</section>
