@{
    ViewData["Title"] = "Home Page";
}

<section class="row g-4">
    <div class="col-12 col-md-6 align-self-end">
        <img src="~/images/girl-managing-contacts.png" alt="Girl managing her contacts" class="img-fluid mx-auto">
    </div>

    <div class="col-12 col-md-6 align-self-center order-md-first">
        <h1 class="fw-bold mb-3 lh-base">Manage all your contacts in one place</h1>
        <h2 class="h4 fw-semibold mb-4 text-secondary">Your digital address book</h2>
        <div class="d-flex gap-2">
            <a class="btn btn-dark btn-lg">Try It Out</a>
            <a class="btn btn-primary btn-lg">Learn More</a>
        </div>
    </div>
</section>
