@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="uppercase font-bold text-primary text-2xl mb-5">@ViewData["Title"]</h1>
    <p class="text-red-600">You do not have access to this resource.</p>
</header>
