@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="uppercase font-bold text-primary text-2xl mb-5">@ViewData["Title"]</h1>
    <p class="text-red-600">This account has been locked out, please try again later.</p>
</header>
