@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

$primary: #7148fc;
$secondary: #1e293b;
$light: #fffdf8;
$dark: #0c121c;

@import '../lib/bootstrap/scss/bootstrap';

:root {
	--bs-body-font-family: 'Montserrat', sans-serif;
}
