:root {
  --cf-primaryColor: #0869b8;
  --cf-primaryColorDark: #002a4e;
  --cf-primaryColorLight: #edf5fc;
  --cf-secondaryColor: #fff0d9;
  --cf-secondaryColorLight: #FFF8EC;
  --cf-dark-color: #131313;
  --cf-light-gray: #d9d9d9;
  --cf-light-color: #eeeeee;

  --cf-title-font: 'Fira Sans', sans-serif;
  --cf-body-font: 'Roboto', sans-serif;

}

html,
body {
  height: 100%;
}

body {
  /* fallback for old browsers */
  background-color: var(--cf-primaryColorLight);
  display: flex;
  flex-direction: column;
  color: var(--cf-dark-color);
  font-family: var(--cf-body-font);
  font-weight: 400;
  font-size: 1.2rem;

}

/*--Button Overrides --*/
/*-- Button styles override Bootstrap Styles --*/
.btn-outline-primary {
  color: var(--cf-dark-color);
  border-color: var(--cf-primaryColor) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  border-color: var(--cf-secondaryColor) !important;
  background-color: var(--cf-primaryColor);
}

.btn-primary {
  color: white !important;
  background-color: var(--cf-primaryColor) !important;
  border-color: var(--cf-secondary-color);
}

.btn-primary:hover {
  filter: brightness(1.2) !important;
  border-color: var(--cf-primaryColorDark);

}

.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  filter: brightness(1.2) !important;

}

.btnlinks {
  width: 7rem;

}

nav {
  background-color: var(--cf-primaryColorLight)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--cf-title-font);
  font-weight: 600;
  text-transform: uppercase;
}


main {
  background-color: var(--cf-primaryColorLight);
}

.content {
  flex: 1 0 auto;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
}

.heroCard {
  min-height: 100%;
}

.texthighlight {
  color: var(--cf-primaryColor);
}

.heroTitle {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: var(--cf-title-font);
  font-weight: 600;
}

.subtitle {
  font-size: 1.5rem;
}

.pageHeader {
  background-color: var(--cf-secondaryColor);
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
}

.pageTitle {
  font-family: var(--cf-title-font);
  font-weight: 500;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: capitalize;
}

.navShadow {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.sideNav {
  border-radius: 25px;
  border-color: var(--cf-light-color);
  border-style: solid;
  border-width: 3px;
  background-color: var(--cf-secondaryColor);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: fit-content;
}

.editIcons {
  font-size: 1.5rem;
  opacity: .9;
  color: var(--cf-primaryColorDark);
}

.editIcons:hover {
  color: var(--cf-primaryColor);
  font-weight: bold;
  opacity: 1;
  cursor: pointer;
}


.icon {
  font-size: 3.5rem;
}

.footer {
  flex-shrink: 0;
  background-color: var(--cf-secondaryColor);
}

.copyright {
  color: var(--cf-primaryColorDark);
  font-size: .9rem;
}

.socialicons {
  color: var(--cf-primaryColorDark);
  opacity: .9;
  font-size: 2rem;
}

.socialicons:hover {
  color: var(--cf-primaryColor);
  opacity: 1;
  cursor: pointer;
}

.square-img-container {
  position: relative;
  background-color: var(--cf-primaryColorLight);
  border-color: var(--cf-light-gray);
  border-style: solid;
}

.square-img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;

}

.square-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;

}


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .heroTitle {
    font-size: 3.5rem;
  }
}