@model ContactBook.Models.Contact

@{
    ViewData["Title"] = "Add New Contact";
}

    <form asp-action="Create" asp-controller="Contacts" enctype="multipart/form-data">
        <div class="grid grid-cols-12 gap-4 justify-between">
            <div class="col-span-12 lg:col-span-6">
                <h1 class="uppercase font-bold text-primary text-2xl mb-5">Add New Contact</h1>
            </div>

            <div class="col-span-12 lg:col-span-6 lg:row-span-4 lg:col-start-7 flex flex-col gap-4 justify-end lg:pb-2">
                <img id="contactImage" src="~/images/profile-pic-default.svg" alt="Profile Picture" class="w-56 h-56 rounded object-cover mx-auto">

                <input id="imageInput" accept="image/jpg, image/jpg, image/png, image/webp" asp-for="ImageFile" class="w-full text-sm bg-white border border-gray-500 rounded leading-tight focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary file:bg-darkest file:text-light file:px-3 file:py-2 file:appearance-none file:font-bold file:uppercase file:text-sm file:cursor-pointer file:hover:bg-opacity-80 file:transition-opacity" />
                @* <span asp-validation-for="ImageFile" class="text-red-600 italic text-xs"></span> *@
            </div>

            <div class="flex flex-col gap-2 col-span-12 sm:col-span-6">
                <label asp-for="FirstName" class="uppercase text-dark font-bold text-sm"></label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-red-600 text-xs italic"></span>
            </div>

            <div class="flex flex-col gap-2 col-span-12 sm:col-span-6">
                <label asp-for="LastName" class="uppercase text-dark font-bold text-sm"></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-red-600 text-xs italic"></span>
            </div>

            <div class="flex flex-col gap-2 col-span-12 sm:col-span-6">
                <label asp-for="Birthdate" class="uppercase text-dark font-bold text-sm"></label>
                <input asp-for="Birthdate" />
                <span asp-validation-for="Birthdate" class="text-red-600 text-xs italic"></span>
            </div>

            <div class="flex flex-col gap-2 col-span-12 sm:col-span-6">
                <label asp-for="PhoneNumber" class="uppercase text-dark font-bold text-sm"></label>
                <input asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-red-600 text-xs italic"></span>
            </div>

            <div class="flex flex-col gap-2 col-span-12 lg:col-span-6">
                <label asp-for="Email" class="uppercase text-dark font-bold text-sm"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email" class="text-red-600 text-xs italic"></span>
            </div>

            <div class="flex flex-col gap-2 col-span-12">
                <label asp-for="Address1" class="uppercase text-dark font-bold text-sm"></label>
                <input asp-for="Address1" />
                <span asp-validation-for="Address1" class="text-red-600 text-xs italic"></span>
            </div>

            <div class="flex flex-col gap-2 col-span-12">
                <label asp-for="Address2" class="uppercase text-dark font-bold text-sm"></label>
                <input asp-for="Address2" />
                <span asp-validation-for="Address2" class="text-red-600 text-xs italic"></span>
            </div>

            <div class="flex flex-col gap-2 col-span-12 lg:col-span-5">
                <label asp-for="City" class="uppercase text-dark font-bold text-sm"></label>
                <input asp-for="City" />
                <span asp-validation-for="City" class="text-red-600 text-xs italic"></span>
            </div>

            <div class="flex flex-col gap-2 col-span-12 sm:col-span-8 lg:col-span-5">
                <label asp-for="County" class="uppercase text-dark font-bold text-sm"></label>
                <select asp-for="County" asp-items="ViewBag.CountiesList">
                    <option disabled selected hidden></option>
                </select>
                <span asp-validation-for="County" class="text-red-600 text-xs italic"></span>
            </div>

            <div class="flex flex-col gap-2 col-span-12 sm:col-span-4 lg:col-span-2">
                <label asp-for="PostCode" class="uppercase text-dark font-bold text-sm"></label>
                <input asp-for="PostCode" />
                <span asp-validation-for="PostCode" class="text-red-600 text-xs italic"></span>
            </div>

            <div class="flex flex-col gap-2 col-span-12">
                <label asp-for="Categories" class="uppercase text-dark font-bold text-sm"></label>
                <select name="CategoryList" asp-items="ViewBag.CategoryList" multiple></select>
            </div>
        
            <div class="col-span-12">
                <button type="submit" title="Add Contact" class="block btn-primary whitespace-nowrap">Add Contact</button>
            </div>
        </div>
    </form>

<div class="mt-20">
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/updateImage.js"></script>